<%- include("partials/header"); -%>

<% for(let i = 0; i< Posts.length; i++) { %>
    <a href="/posts/<%= _.lowerCase(Posts[i].postTitle) %>"><h1><%= Posts[i].postTitle %></h1></a>
    <p><%= Posts[i].postBody %></p>
<% } %>

<%- include("partials/footer"); -%>
